section {
	.heading {
		h1 {
			color:$gray-600;
			@include lobster-font;
			letter-spacing:20px;
			margin-left: -40px;
		}
		.bord-bot {
			width: 80px;
			margin:0 auto;
			border-bottom: 4px solid $primary-col;
		}
		p {
			margin-top: 10px;
			color:$gray-600;
		}
	}
}